:root
{
    --default-background-color: #5f616c;
    --default-background-color-light: rgba(95,97,108, 0.8);
    --default-text-color: white;
    --default-link-color: #8ddcff;
    --default-graph-color: #5ac9af;
    --default-graph-color-light: rgba(255, 87, 34, 0.5);
    --default-graph-color-dim: rgba(65, 179, 226, 0.5);
    --default-path-color: #f2796b;
    --default-point-color: #5ac9af;
    --default-marker-color: rgba(255, 87, 34);
    --button-color: white;
    --button-background-image: linear-gradient(to bottom, rgb(84, 184, 255), #33aaff);
    --button-box-shadow: inset 0 0 0.1em 2px rgba(255, 255, 255, 0.1), 0 2px rgba(0, 0, 0, 0.12);
    --button-text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
    --button-border: 1px solid #215a96;
    --button-background-image-hover: linear-gradient(to bottom, #FF5722, #F44336);
    --button-background-image-disabled: linear-gradient(to bottom, rgb(230, 230, 230), #bfbfbf);
    --button-color-disabled: #7c7c7c;
    --button-border-color-disabled: #b7b7b7;
    --button-close-color: #aaa;
    --button-close-color-hover: #000;
    --window-background: #babbc4;
    --window-border: 1px solid #BBBABA;
    --dialog-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    --window-active-background: #FF5722;
    --background-background: rgba(0, 0, 0, 0);
    --background-visible-background: rgba(0, 0, 0, 0.6);
    --window-title-color: #fff;
    --window-tools-close-background: linear-gradient(to bottom, #e8616c, #ff0000);
    --window-tools-close-border: 1px solid #911f28;
    --window-tools-close-background-hover: #ff7d88;
    --dialog-loading-background: #babbc4;
    --dialog-loading-content-border: 10px solid #fff;
    --dialog-loading-content-border-top: 10px solid #ffe3e3;
    --dialog-loading-content-border-right: 10px solid #ffb4b4;
    --dialog-loading-content-border-bottom: 10px solid #ff4d4d;
    --window-header-background: #e6e6e6;
    --window-footer-border-top: #eee solid 1px;
    --window-footer-background: linear-gradient(to bottom, #babbc4, #e1e2eb);
    --panel-border: 1px solid #BBBABA;
    --panel-title-color: #444;
    --table-td-border-bottom: 1px solid #5d5d5d;
    --table-td-border: 0;
    --table-header-background: linear-gradient(to bottom, #ff5722, #fe7043);
    --table-header-text-background-up: url(img/sort-up.png) no-repeat right;
    --table-header-text-background-down: url(img/sort-down.png) no-repeat right;
    --table-header-text-background-up-rtl: url(img/sort-up.png) no-repeat left;
    --table-header-text-background-down-rtl: url(img/sort-down.png) no-repeat left;
    --table-header-sort-background: url(img/sort_16.png) no-repeat;
    --table-tree-background-image: url(img/plus.png);
    --table-tree-background-image-hover: url(img/plus-hover.png);
    --table-tree-background-image-expanded: url(img/minus.png);
    --table-tree-background-image-expanded-hover: url(img/minus-hover.png);
    --table-row-level-1-background: rgba(221, 221, 221, 0.5);
    --table-row-level-2-background: rgba(121, 121, 121, 0.3);
    --table-row-level-3-background: darkkhaki;
    --table-row-background-hover: #6dceff;
    --table-row-selected-background: rgb(0, 161, 241);
    --table-row-selected-box-shadow: #cecbcb 0 1px 10px 0 inset;
    --table-header-wrap-border: 1px solid #c9c9c9;
    --table-resizer-background: #ff8c68;
    --button-flat-background: #5f616c;
    --button-flat-border: 1px solid rgba(220, 220, 220, 0.51);
    --button-flat-color: #ffffff;
    --button-flat-border-hover: #a10808;
    --button-flat-background-hover: rgb(139, 139, 139);
    --button-flat-color-hover: black;
    --colorpicker-button-checked-border: 3px rgb(255, 40, 40) solid;
    --colorpicker-button-checked-box-shadow: 0 0 1em 1px #747373;
    --colorpicker-button-hover-border-color: red;
    --menu-li-hover-background: rgb(255, 87, 34);
    --menu-li-hover-box-shadow: #cecbcb 0 1px 1px 0;
    --checkbutton-checked-background: rgb(72, 72, 72);
    --checkbutton-checked-box-shdow: #ffffff 0 1px 10px 0 inset;
    --checkbutton-checked-color: white;
    --tabs-content-border: 1px solid #dcdcdc;
    --tabs-button-background: linear-gradient(to bottom, #e1e2eb 5%, #babbc4 100%);
    --tabs-button-border: 1px solid #dcdcdc;
    --tabs-button-color: #080808;
    --tabs-button-hover-border: 1px red solid;
    --tabs-button-checked-box-shadow: 0 2px rgb(255, 255, 255);
    --tabs-button-checked-background: #babbc4;
    --tabs-button-checked-color: #fff;
    --dropdown-arrow-up-background-image: url(img/dropdown-arrow-up.png);
    --dropdown-arrow-down-background-image: url(img/dropdown-arrow-down.png);
    --listview-li-hover-background: #eee;
    --menu-border: 1px solid #787878;
    --menu-background: #5f616c;
    --menu-color: #fff;
    --menu-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    --textbox-color: white;
    --textbox-background: #939393;
    --textbox-border: 2px solid #5f616c;
    --textbox-border-color-focus: #ff5722;
    --textbox-box-shadow-focus: 0 0 10px #ff5722;
    --resizer-horizontal-background: #5f616c;
    --resizer-vertical-background: #5f616c;
    --selectlist-arrow-hover-background-image: url(img/arrow-down-hover.png);
    --selectlist-label-background: #939393;
    --selectlist-arrow-background-color: #5f616c;
    --selectlist-arrow-border: 2px solid #5f616c;
    --selectlist-arrow-background-image: url(img/arrow-down.png);
    --searchlist-menu-border: 1px solid #CCC;
    --searchlist-menu-background: rgba(95, 97, 108, 0.7);
    --searchlist-menu-color: #333;
    --lazylist-more-background-image: url(img/arrow-down-hover.png);
    --button-arrow-background-color: #72747c;
    --button-arrow-background-border: 1px solid #717171;
    --separator-background: #5f616c;
    --separator-box-shadow: inset 0 0 15px #4b4b4b;
    --dropdown-visible-img-filter: drop-shadow(0px 0px 8px #3b8de2);
    --dropdown-visible-badge: drop-shadow(1px 1px 5px #3b8de2);
    --range-background: rgba(0,0,0,0);
    --range-track-box-shadow: 0px 0px 0px rgba(95, 153, 86, 0.7), 0px 0px 0px rgba(107, 167, 98, 0.7);
    --range-track-background: rgba(192, 192, 192, 0.75);
    --range-track-border: 0px solid rgba(26, 93, 157, 0.35);
    --range-thumb-box-shadow: 2.2px 2.2px 8.6px rgba(139, 188, 255, 0.78), 0px 0px 2.2px rgba(164, 203, 255, 0.78);
    --range-thumb-border: 2px solid rgba(115, 163, 255, 0.51);
    --range-thumb-background: rgba(101, 196, 255, 0.94);
    --range-track-background-focus: rgba(210, 210, 210, 0.75);
    --bar-arrow-left-background-image: url(img/arrow-left.png);
    --bar-arrow-right-background-image: url(img/arrow-right.png);
    --bar-arrow-left-inactive-background-image: url(img/arrow-left-inactive.png);
    --bar-arrow-right-inactive-background-image: url(img/arrow-right-inactive.png);
    --bar-item-background: rgb(125, 127, 137);
    --bar-item-border: 1px solid #686868;
    --bar-item-color: #eee;
    --bar-item-background-hover: rgb(186, 187, 196);
    --bar-item-checked-border-bottom: 3px solid #ff5722;
    --bar-item-checked-box-shadow: #ffffff 0 1px 10px 0 inset;
    --multiselect-add-background-image: url(img/add.png);
    --multiselect-add-background-image-hover: url(img/add-hover.png);
    --multiselect-list-li-border-bottom: 2px dotted #dadada;
    --multiselect-list-remove-background-image: url(img/remove.png);
    --multiselect-list-remove-background-image-hover: url(img/remove-hover.png);
    --grid-window-over-border: #e13946 dotted 3px;
    --grid-window-drag-border: #75c6ff dotted 3px;
    --datetimepicker-calendar-border-right: 3px solid pink;
    --datetimepicker-clock-background: #71767a;
    --datetimepicker-different-month-color: #bebebe;
    --datetimepicker-day-background-hover: #b9dfff;
    --datetimepicker-day-selected-background: #4ea3df;
    --datetimepicker-day-selected-color: #fff;
    --datetimepicker-day-today-border-bottom: 3px solid #f65314;
    --scrollbar-background: #ebebeb;
    --scrollbar-track-border: 1px #dadada solid;
    --scrollbar-track-box-shadow: 0 0 6px #c8c8c8 inset;
    --scrollbar-thumb-background: #4ea3df;
    --scrollbar-thumb-border: 1px solid #dadada;
    --scrollbar-thumb-background-hover: #59cfff;
    --scrollbar-thumb-border-hover: 1px solid #dadada;
    --scrollbar-thumb-background-active: #59cfff;
    --scrollbar-thumb-border-active: 1px solid #dadada;
    --button-arrow-background-color-hover: #f3f3f3;
}