
:root {
--default-background-color: #ffffff;
    --default-background-color-light: rgba(209, 209, 209, 0.5);
    --default-text-color: black;
    --default-link-color: #0099d5;
	--default-graph-color: #5ac9af;
    --default-graph-color-light: rgba(90, 201, 175, 0.5);
    --default-graph-color-dim: rgba(245, 227, 179, 0.5);
    --default-path-color: #f2796b;
    --default-point-color: #5ac9af;

  --button-color: white;
  --button-background-image: linear-gradient(to bottom, rgb(84, 184, 255), #33aaff);
  --button-box-shadow:inset 0 0 0.1em 2px rgba(255, 255, 255, 0.1), 0 2px rgba(0, 0, 0, 0.12);
  --button-text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
  --button-border:1px solid #215a96;
  --button-background-image-hover: linear-gradient(to bottom, #FF5722, #F44336);
  --button-background-image-disabled: linear-gradient(to bottom, rgb(230, 230, 230), #bfbfbf);
  --button-color-disabled: #7c7c7c;
  --button-border-color-disabled: #b7b7b7;
  --button-close-color: #aaa;
  --button-close-color-hover: #000;
  --window-background: #fff;
  --window-border: 1px solid #BBBABA;
  --dialog-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
  --window-active-background: rgb(185, 223, 255);
  --background-background:rgba(0, 0, 0, 0);
  --background-visible-background: rgba(0, 0, 0, 0.6);
  
  --window-title-color: #444;
  --window-tools-close-background: linear-gradient(to bottom, #e8616c, #dd202f);
  --window-tools-close-border:1px solid #911f28;
  
  --window-tools-close-background-hover: #ff7d88;
  --dialog-loading-background:rgb(185, 223, 255); 
  
  --dialog-loading-content-border: 10px solid #fff;
  --dialog-loading-content-border-top: 10px solid #ffe3e3;
  --dialog-loading-content-border-right: 10px solid #ffb4b4;
  --dialog-loading-content-border-bottom: 10px solid #ff4d4d;
  
  --window-header-background: #e6e6e6;
  --window-footer-border-top: #eee solid 1px;
  --window-footer-background: linear-gradient(to bottom, white, #e1e2eb);

  --panel-border: 1px solid #BBBABA;
  --panel-title-color: #444;
  	--table-td-border: 1px solid #c9c9c9;

  --table-header-background: linear-gradient(to bottom, white, #e1e2eb);
  --table-header-text-background-up: url(img/"sort-up.png") no-repeat right;
  --table-header-text-background-down:url(img/"sort-down.png") no-repeat right;
  --table-header-text-background-up-rtl: url(img/"sort-up.png") no-repeat left;
  --table-header-text-background-down-rtl:url(img/"sort-down.png") no-repeat left;

  --table-header-sort-background: url(img/"sort_16.png") no-repeat;
  
  --table-tree-background-image: url(img/"plus.png");
  --table-tree-background-image-hover: url(img/"plus-hover.png");
  
  --table-tree-background-image-expanded: url(img/"minus.png");
  --table-tree-background-image-expanded-hover: url(img/"minus-hover.png");
  
  --table-row-level-1-background: rgba(221, 221, 221, 0.5);
  --table-row-level-2-background: rgba(121, 121, 121, 0.3);
  --table-row-level-3-background: darkkhaki;
  --table-row-background-hover: #DEF;
  --table-row-selected-background: rgb(185, 223, 255);
  --table-row-selected-box-shadow: #cecbcb 0 1px 10px 0 inset;
  
  --table-header-wrap-border: 1px solid #c9c9c9;
  --table-resizer-background: #dde2e3;
  
  --button-flat-background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 5%, rgb(246, 246, 246) 100%);
  --button-flat-border: 1px solid rgba(220, 220, 220, 0.51);
  --button-flat-color: #666666;
  --button-flat-border-hover:#ffcbcb;
  --button-flat-background-hover: rgb(184, 218, 255);
  
  --colorpicker-button-checked-border: 3px rgb(255, 40, 40) solid;
  --colorpicker-button-checked-box-shadow: 0 .0 1em 1px #747373;
  --colorpicker-button-hover-border-color: red;
   
  --menu-li-hover-background:rgb(185, 223, 255);
  --menu-li-hover-box-shadow:#cecbcb 0 1px 1px 0;
  
  --checkbutton-checked-background:rgb(185, 223, 255);
  --checkbutton-checked-box-shdow:#ffffff 0 1px 10px 0 inset;
  
  --tabs-content-border: 1px solid #dcdcdc;
  
  --tabs-button-background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  --tabs-button-border: 1px solid #dcdcdc;
  --tabs-button-color: #666666;
  
  --tabs-button-hover-border:1px red solid;
  --tabs-button-checked-box-shadow:0 2px rgb(255, 255, 255);
  --tabs-button-checked-background:linear-gradient(to bottom, rgba(173, 213, 255, 0.86) 10%, #ffffff);
  --tabs-button-checked-color:#000000;
  
  --dropdown-arrow-up-background-image: url(img/"dropdown-arrow-up.png");
  --dropdown-arrow-down-background-image: url(img/"dropdown-arrow-down.png");
  
  --listview-li-hover-background: #eee;
  --menu-border:1px solid #CCC;
  --menu-background: #FFF;
  --menu-color:  #333;
  --menu-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
  
	--textbox-color: black;
	--textbox-background: white;

  --textbox-border:2px solid #dadada;
  --textbox-border-color-focus: #9ecaed;
 
  --textbox-box-shadow-focus:0 0 10px #9ecaed;
  
  --resizer-horizontal-background:#dde2e3;
  --resizer-vertical-background:#dde2e3;
  
  --selectlist-arrow-hover-background-image: url(img/arrow-down-hover.png);
 
  --selectlist-label-background: #fff;
 
  --selectlist-arrow-background-color:#fff;
  --selectlist-arrow-border: 2px solid #dadada;
  --selectlist-arrow-background-image: url(img/arrow-down.png);
  
  --searchlist-menu-border: 1px solid #CCC;
  --searchlist-menu-background: rgba(255, 255, 255, 0.44);
  --searchlist-menu-color: #333;
  
  --lazylist-more-background-image:url(img/arrow-down-hover.png);
    
  --button-arrow-background-color:#f3f3f3;
  --button-arrow-background-border: 1px solid #dadada;
  --button-arrow-background-color-hover:#f3f3f3;;
  
  
  --separator-background: rgba(82, 82, 82, 0.38);
  --separator-box-shadow: inset 0 0 15px #ffffff;
  
	--dropdown-visible-img-filter: drop-shadow(0px 0px 8px #3b8de2);
	--dropdown-visible-badge: drop-shadow(1px 1px 5px #3b8de2);
	
	--range-background: rgba(0,0,0,0);
	--range-track-box-shadow: 0px 0px 0px rgba(95, 153, 86, 0.7), 0px 0px 0px rgba(107, 167, 98, 0.7);
	--range-track-background: rgba(192, 192, 192, 0.75);
	--range-track-border: 0px solid rgba(26, 93, 157, 0.35);
	--range-thumb-box-shadow: 2.2px 2.2px 8.6px rgba(139, 188, 255, 0.78), 0px 0px 2.2px rgba(164, 203, 255, 0.78);
	--range-thumb-border: 2px solid rgba(115, 163, 255, 0.51);
	--range-thumb-background: rgba(101, 196, 255, 0.94);
	
	--range-track-background-focus: rgba(210, 210, 210, 0.75);
	
	--bar-arrow-left-background-image: url(img/arrow-left.png);
	--bar-arrow-right-background-image: url(img/arrow-right.png);
	--bar-arrow-left-inactive-background-image: url(img/arrow-left-inactive.png);
	--bar-arrow-right-inactive-background-image: url(img/arrow-right-inactive.png);
	
	--bar-item-background: rgba(235, 240, 242, 0.69);
	--bar-item-border: 1px solid #dcdcdc;
	--bar-item-color: #666666;
	--bar-item-background-hover: rgba(255, 255, 255, 0.87);
	
	--bar-item-checked-border-bottom: 3px solid #47abff;
	--bar-item-checked-box-shadow: #cecbcb 0 1px 10px 0 inset;
	
	--multiselect-add-background-image: url(img/add.png);
	--multiselect-add-background-image-hover: url(img/add-hover.png);
	--multiselect-list-li-border-bottom: 2px dotted #dadada;
	
	--multiselect-list-remove-background-image: url(img/remove.png);
	--multiselect-list-remove-background-image-hover: url(img/remove-hover.png);
  
  
	--grid-window-over-border: #e13946 dotted 3px;
	--grid-window-drag-border: #75c6ff dotted 3px;
	
	--datetimepicker-calendar-border-right: 3px solid pink;
	--datetimepicker-clock-background: gainsboro;
	
	--datetimepicker-different-month-color: #bebebe;
	
	--datetimepicker-day-background-hover: #b9dfff;
	
	--datetimepicker-day-selected-background: #4ea3df;
	--datetimepicker-day-selected-color: #fff;
	--datetimepicker-day-today-border-bottom: 3px solid #f65314;
	
	--scrollbar-background: #ebebeb;
	--scrollbar-track-border:1px #dadada solid;
	--scrollbar-track-box-shadow:0 0 6px #c8c8c8 inset;
	--scrollbar-thumb-background:#4ea3df;
	--scrollbar-thumb-border:1px solid #dadada;
	--scrollbar-thumb-background-hover:#59cfff;
	--scrollbar-thumb-border-hover:	1px solid #dadada;
	--scrollbar-thumb-background-active:#59cfff;
	--scrollbar-thumb-border-active:1px solid #dadada;
  }