:root
{ 
--background-background: rgba(79, 71, 103, 0.76);
    --background-visible-background: rgba(59, 50, 84, 0.83);
    --bar-arrow-left-background-image: url(img/arrow-left.png);
    --bar-arrow-left-inactive-background-image: url(img/arrow-left-inactive.png);
    --bar-arrow-right-background-image: url(img/arrow-right.png);
    --bar-arrow-right-inactive-background-image: url(img/arrow-right-inactive.png);
    --bar-item-background-hover: rgb(51, 43, 74);
    --bar-item-background: rgb(102, 177, 215);
    --bar-item-border: 1px solid #2fc3ba;
    --bar-item-checked-border-bottom: 3px solid #8070ad;
    --bar-item-checked-box-shadow: #211544 0 1px 10px 0 inset;
    --bar-item-color: #666666;
    --button-arrow-background-border: 1px solid rgba(46, 194, 186, 0);
    --button-arrow-background-color-hover: #71c5db;
    --button-arrow-background-color: rgba(255, 255, 255, 0);
    --button-background-image-disabled: linear-gradient(to bottom, rgb(163, 163, 163), #bfbfbf);
    --button-background-image-hover: linear-gradient(to bottom, #8070ad, #9988c9);
    --button-background-image: linear-gradient(to bottom, #009688, #2bc3b9);
    --button-border-color-disabled: #b7b7b7;
    --button-border: 1px solid #215a96;
    --button-box-shadow: inset 0 0 0.1em 2px rgba(255, 255, 255, 0.1), 0 2px rgba(0, 0, 0, 0.12);
    --button-close-color-hover: #000;
    --button-close-color: #aaa;
    --button-color-disabled: #7c7c7c;
    --button-color: white;
    --button-flat-background-hover: rgb(51, 43, 74);
    --button-flat-background: linear-gradient(to bottom,#8070ad 5%, #8070ad 100%);
    --button-flat-border-hover: #8070ad;
    --button-flat-border: 1px solid rgba(220, 220, 220, 0.51);
    --button-flat-color-hover: white;
    --button-flat-color: #ffffff;
    --button-text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
    --checkbutton-checked-background: rgb(51, 43, 74);
    --checkbutton-checked-box-shdow: #8070ad 0 1px 10px 0 inset;
    --checkbutton-checked-color: #a9f6ff;
    --colorpicker-button-checked-border: 3px rgb(255, 40, 40) solid;
    --colorpicker-button-checked-box-shadow: 0 0 1em 1px #747373;
    --colorpicker-button-hover-border-color: red;
    --datetimepicker-calendar-border-right: 3px solid pink;
    --datetimepicker-clock-background: #685992;
    --datetimepicker-day-background-hover: #67b3d8;
    --datetimepicker-day-selected-background: #27c2b7;
    --datetimepicker-day-selected-color: #fff;
    --datetimepicker-day-today-border-bottom: 3px solid #f65314;
    --datetimepicker-different-month-color: #bebebe;
    --default-background-color-light: rgba(103, 184, 229, 0.91);
    --default-graph-color-dim: rgba(245, 227, 179, 0.5);
    --default-graph-color-light: rgba(103, 58, 183, 0.72);
    --default-graph-color: #673AB7;
    --default-link-color: #5a2daa;
    --default-path-color: #f2796b;
    --default-point-color: #5ac9af;
    --default-text-color: black;
    --dialog-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    --dialog-loading-background: rgb(185, 223, 255);
    --dialog-loading-content-border-bottom: 10px solid #13d5a7;
    --dialog-loading-content-border-right: 10px solid #60fad6;
    --dialog-loading-content-border-top: 10px solid #d2fff5;
    --dialog-loading-content-border: 10px solid #fff;
    --dropdown-arrow-down-background-image: url(img/dropdown-arrow-down.png);
    --dropdown-arrow-up-background-image: url(img/dropdown-arrow-up.png);
    --dropdown-visible-badge: drop-shadow(1px 1px 5px #42e8c1);
    --dropdown-visible-img-filter: drop-shadow(0px 0px 8px #26ffcb);
    --grid-window-drag-border: #1cd4a9 dotted 3px;
    --grid-window-over-border: #e13946 dotted 3px;
    --lazylist-more-background-image: url(img/arrow-down-hover.png);
    --listview-li-hover-background: #eee;
    --menu-background: #8070ad;
    --menu-border: 1px solid #584b7b;
    --menu-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    --menu-color: #fff;
    --menu-li-hover-background: rgb(51, 43, 74);
    --menu-li-hover-box-shadow: #322c2c 0 1px 1px 0;
    --multiselect-add-background-image-hover: url(img/add-hover.png);
    --multiselect-add-background-image: url(img/add.png);
    --multiselect-list-li-border-bottom: 2px dotted #dadada;
    --multiselect-list-remove-background-image-hover: url(img/remove-hover.png);
    --multiselect-list-remove-background-image: url(img/remove.png);
    --panel-border: 1px solid #BBBABA;
    --panel-title-color: #444;
    --range-background: rgba(0,0,0,0);
    --range-thumb-background: rgb(42, 194, 184);
    --range-thumb-border: 2px solid rgba(82, 209, 179, 0.73);
    --range-thumb-box-shadow: 2.2px 2.2px 8.6px rgb(159, 247, 227), 0px 0px 2.2px rgba(177, 255, 237, 0.78);
    --range-track-background-focus: rgba(210, 210, 210, 0.75);
    --range-track-background: rgba(192, 192, 192, 0.75);
    --range-track-border: 0px solid rgba(26, 93, 157, 0.35);
    --range-track-box-shadow: 0px 0px 0px rgba(95, 153, 86, 0.7), 0px 0px 0px rgba(107, 167, 98, 0.7);
    --resizer-horizontal-background: #60b3d4;
    --resizer-vertical-background: #60b3d4;
    --scrollbar-background: #ebebeb;
    --scrollbar-thumb-background-active: #8070ad;
    --scrollbar-thumb-background-hover: #28a29b;
    --scrollbar-thumb-background: #31c3bc;
    --scrollbar-thumb-border-active: 1px solid #dadada;
    --scrollbar-thumb-border-hover: 1px solid #dadada;
    --scrollbar-thumb-border: 1px solid #dadada;
    --scrollbar-track-border: 1px #dadada solid;
    --scrollbar-track-box-shadow: 0 0 6px #c8c8c8 inset;
    --searchlist-menu-background: rgba(255, 255, 255, 0.11);
    --searchlist-menu-border: 1px solid #CCC;
    --searchlist-menu-color: #333;
    --selectlist-arrow-background-color: #fff;
    --selectlist-arrow-background-image: url(img/arrow-down.png);
    --selectlist-arrow-border: 2px solid #45c9c1;
    --selectlist-arrow-hover-background-image: url(img/arrow-down-hover.png);
    --selectlist-label-background: #fff;
    --separator-background: rgb(128, 112, 173);
    --separator-box-shadow: inset 0 0 15px #695a93;
    --table-header-background: linear-gradient(to bottom, #8070ad 60%, #2ac2b9);
	--table-header-color: #fff;
    --table-header-sort-background: url(img/sort_16.png) no-repeat;
    --table-header-text-background-down-rtl: url(img/sort-down.png) no-repeat left;
    --table-header-text-background-down: url(img/sort-down.png) no-repeat right;
    --table-header-text-background-up-rtl: url(img/sort-up.png) no-repeat left;
    --table-header-text-background-up: url(img/sort-up.png) no-repeat right;
    --table-header-wrap-border: 1px solid #8070ad;
    --table-resizer-background: #968ab7;
    --table-row-background-hover: #8070ad;
    --table-row-level-1-background: rgba(221, 221, 221, 0.5);
    --table-row-level-2-background: rgba(121, 121, 121, 0.3);
    --table-row-level-3-background: darkkhaki;
    --table-row-selected-background: rgb(128, 112, 173);
    --table-row-selected-box-shadow: #33bfbd 0 1px 10px 0 inset;
    --table-td-border-bottom: 1px solid #2b9894;
    --table-td-border: 0;
    --table-tree-background-image-expanded-hover: url(img/minus-hover.png);
    --table-tree-background-image-expanded: url(img/minus.png);
    --table-tree-background-image-hover: url(img/plus-hover.png);
    --table-tree-background-image: url(img/plus.png);
    --tabs-button-background: linear-gradient(to bottom, #8070ad 5%, #8070ad 100%);
    --tabs-button-border: 1px solid #85efe8;
    --tabs-button-checked-background: linear-gradient(to bottom, rgb(139, 198, 231) 5%, #8bc6e7);
    --tabs-button-checked-box-shadow: 0 2px rgb(109, 207, 184);
    --tabs-button-checked-color: #000000;
    --tabs-button-color: #ffffff;
    --tabs-button-hover-border: 1px #8070ad solid;
    --tabs-content-border: 1px solid #85efe8;
    --textbox-background: white;
    --textbox-border-color-focus: #8070ad;
    --textbox-border: 2px solid #29c1b8;
    --textbox-box-shadow-focus: 0 0 10px #8070ad;
    --textbox-color: black;
    --window-active-background: rgb(133, 239, 232);
    --window-background: rgb(139, 198, 231);
    --window-border: 1px solid #BBBABA;
    --window-footer-background: linear-gradient(to bottom, #8bc6e7, #21c3b4);
    --window-footer-border-top: #eee solid 1px;
    --window-header-background: #8070ad;
    --window-title-color: #444;
    --window-tools-close-background-hover: #f0a1a8;
    --window-tools-close-background: linear-gradient(to bottom, #e8616c, #f2796b);
    --window-tools-close-border: 1px solid #7b8f9d;
    --default-background-color: #21c3b4;
}