:root
{
--default-background-color: #989898;
    --default-background-color-light: rgba(183, 183, 183, 0.62);
    --default-text-color: black;
    --default-link-color: #ffffff;
    --default-graph-color: #34ffc2;
    --default-graph-color-light: rgba(163, 163, 163, 0.59);
    --default-graph-color-dim: rgba(245, 227, 179, 0.5);
    --default-path-color: #f2796b;
    --default-point-color: #262626;
    --button-color: white;
    --button-background-image: linear-gradient(to bottom, #626262, #313131);
    --button-box-shadow: inset 0 0 0.1em 2px rgba(255, 255, 255, 0.1), 0 2px rgba(0, 0, 0, 0.12);
    --button-text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
    --button-border: 1px solid #757575;
    --button-background-image-hover: linear-gradient(to bottom, #FF5722, #F44336);
    --button-background-image-disabled: linear-gradient(to bottom, rgb(230, 230, 230), #bfbfbf);
    --button-color-disabled: #7c7c7c;
    --button-border-color-disabled: #b7b7b7;
    --button-close-color: #aaa;
    --button-close-color-hover: #000;
    --window-background: #e0e0e0;
    --window-border: 1px solid #bdbdbd;
    --dialog-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.506);
    --window-active-background: #ffffff;
    --background-background: rgba(73, 60, 57, 0.74);
    --background-visible-background: rgba(0, 0, 0, 0.6);
    --window-title-color: #000;
    --window-tools-close-background: linear-gradient(to bottom, #e8616c, #dd202f);
    --window-tools-close-border: 1px solid #911f28;
    --window-tools-close-background-hover: #ff7d88;
    --dialog-loading-background: rgb(224, 224, 224);
    --dialog-loading-content-border: 10px solid #fff;
    --dialog-loading-content-border-top: 10px solid #c4c4c4;
    --dialog-loading-content-border-right: 10px solid #8d8d8d;
    --dialog-loading-content-border-bottom: 10px solid #5f5f5f;
    --window-header-background: #c9c8c8;
    --window-footer-border-top: 0;
    --window-footer-background: linear-gradient(to bottom, #e0e0e0, #ffffff);
    --panel-border: 1px solid #BBBABA;
    --panel-title-color: #444;
    --table-td-border-bottom: 1px solid #b3b3b3;
    --table-td-border: 0;
    --table-header-background: linear-gradient(to bottom, #ffffff, #cacaca);
    --table-header-text-background-up: url(img/sort-up.png) no-repeat right;
    --table-header-text-background-down: url(img/sort-down.png) no-repeat right;
    --table-header-text-background-up-rtl: url(img/sort-up.png) no-repeat left;
    --table-header-text-background-down-rtl: url(img/sort-down.png) no-repeat left;
    --table-header-sort-background: url(img/sort_16.png) no-repeat;
    --table-tree-background-image: url(img/plus.png);
    --table-tree-background-image-hover: url(img/plus-hover.png);
    --table-tree-background-image-expanded: url(img/minus.png);
    --table-tree-background-image-expanded-hover: url(img/minus-hover.png);
    --table-row-level-1-background: rgba(221, 221, 221, 0.5);
    --table-row-level-2-background: rgba(121, 121, 121, 0.3);
    --table-row-level-3-background: darkkhaki;
    --table-row-background-hover: rgb(239, 239, 239);
    --table-row-selected-background: #e7e7e7;
    --table-row-selected-box-shadow: #ff7676 0 1px 10px 0 inset;
    --table-header-wrap-border: 1px solid #b0b0b0;
    --table-resizer-background: #cccccc;
    --button-flat-background: linear-gradient(to bottom, rgb(177, 177, 177) 5%, rgb(255, 255, 255) 100%);
    --button-flat-border: 1px solid rgb(180, 180, 180);
    --button-flat-color: #000000;
    --button-flat-border-hover: #cacaca;
    --button-flat-background-hover: rgb(255, 255, 255);
    --button-flat-color-hover: black;
    --colorpicker-button-checked-border: 3px rgb(255, 40, 40) solid;
    --colorpicker-button-checked-box-shadow: 0 0 1em 1px #747373;
    --colorpicker-button-hover-border-color: red;
    --menu-li-hover-background: rgb(193, 193, 193);
    --menu-li-hover-box-shadow: #cecbcb 0 1px 1px 0;
    --checkbutton-checked-background: rgb(255, 255, 255);
    --checkbutton-checked-box-shdow: #6a6a6a 0 1px 15px 0 inset;
    --checkbutton-checked-color: black;
    --tabs-content-border: 1px solid #ffffff;
    --tabs-button-background: linear-gradient(to bottom, rgb(255, 255, 255) 5%, rgb(224, 224, 224) 100%);
    --tabs-button-border: 1px solid #ffffff;
    --tabs-button-color: #000000;
    --tabs-button-hover-border: 1px #c7c7c7 solid;
    --tabs-button-checked-box-shadow: 0 2px rgb(255, 255, 255);
    --tabs-button-checked-background: linear-gradient(to bottom, rgb(224, 224, 224) 10%, #e0e0e0);
    --tabs-button-checked-color: #000000;
    --dropdown-arrow-up-background-image: url(img/dropdown-arrow-up.png);
    --dropdown-arrow-down-background-image: url(img/dropdown-arrow-down.png);
    --listview-li-hover-background: #dfdfdf;
    --menu-border: 1px solid #a5a5a5;
    --menu-background: #d4d4d4;
    --menu-color: #333;
    --menu-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.71);
    --textbox-color: black;
    --textbox-background: #fff;
    --textbox-border: 2px solid #c9c8c8;
    --textbox-border-color-focus: #e36872;
    --textbox-box-shadow-focus: 0 0 10px #e34956;
    --resizer-horizontal-background: #9d9d9d;
    --resizer-vertical-background: #9d9d9d;
    --selectlist-arrow-hover-background-image: url(img/arrow-down-hover.png);
    --selectlist-label-background: #fff;
    --selectlist-arrow-background-color: #fff;
    --selectlist-arrow-border: 2px solid #c9c8c8;
    --selectlist-arrow-background-image: url(img/arrow-down.png);
    --searchlist-menu-border: 1px solid #CCC;
    --searchlist-menu-background: rgb(255, 255, 255);
    --searchlist-menu-color: #333;
    --lazylist-more-background-image: url(img/arrow-down-hover.png);
    --button-arrow-background-color: #cfcfcf;
    --button-arrow-background-border: 1px solid #b5b5b5;
    --separator-background: #ffffff;
    --separator-box-shadow: inset 0 0 15px #ffffff;
    --dropdown-visible-img-filter: drop-shadow(0px 0px 8px #ff6e6e);
    --dropdown-visible-badge: drop-shadow(1px 1px 5px #ffa1a1);
    --range-background: rgba(0,0,0,0);
    --range-track-box-shadow: 0px 0px 0px rgba(95, 153, 86, 0.7), 0px 0px 0px rgba(107, 167, 98, 0.7);
    --range-track-background: rgba(255, 255, 255, 0.75);
    --range-track-border: 0px solid rgba(26, 93, 157, 0.35);
    --range-thumb-box-shadow: 2.2px 2.2px 8.6px rgb(198, 198, 198), 0px 0px 2.2px rgba(255, 255, 255, 0.78);
    --range-thumb-border: 2px solid rgb(115, 115, 115);
    --range-thumb-background: rgb(212, 212, 212);
    --range-track-background-focus: rgba(210, 210, 210, 0.75);
    --bar-arrow-left-background-image: url(img/arrow-left.png);
    --bar-arrow-right-background-image: url(img/arrow-right.png);
    --bar-arrow-left-inactive-background-image: url(img/arrow-left-inactive.png);
    --bar-arrow-right-inactive-background-image: url(img/arrow-right-inactive.png);
    --bar-item-background: rgba(235, 240, 242, 0.69);
    --bar-item-border: 1px solid #dcdcdc;
    --bar-item-color: #666666;
    --bar-item-background-hover: rgba(255, 255, 255, 0.87);
    --bar-item-checked-border-bottom: 3px solid #e03d4a;
    --bar-item-checked-box-shadow: #6a6a6a 0 1px 10px 0 inset;
    --multiselect-add-background-image: url(img/add.png);
    --multiselect-add-background-image-hover: url(img/add-hover.png);
    --multiselect-list-li-border-bottom: 2px dotted #dadada;
    --multiselect-list-remove-background-image: url(img/remove.png);
    --multiselect-list-remove-background-image-hover: url(img/remove-hover.png);
    --grid-window-over-border: #e13946 dotted 3px;
    --grid-window-drag-border: #75c6ff dotted 3px;
    --datetimepicker-calendar-border-right: 3px solid pink;
    --datetimepicker-clock-background: #ffdeac;
    --datetimepicker-different-month-color: #bebebe;
    --datetimepicker-day-background-hover: #ffe1b3;
    --datetimepicker-day-selected-background: #ffb03b;
    --datetimepicker-day-selected-color: #fff;
    --datetimepicker-day-today-border-bottom: 3px solid #f65314;
    --scrollbar-background: #ebebeb;
    --scrollbar-track-border: 1px #dadada solid;
    --scrollbar-track-box-shadow: 0 0 6px #c8c8c8 inset;
    --scrollbar-thumb-background: #ababab;
    --scrollbar-thumb-border: 1px solid #dadada;
    --scrollbar-thumb-background-hover: #43be99;
    --scrollbar-thumb-border-hover: 1px solid #dadada;
    --scrollbar-thumb-background-active: #5cc7a7;
    --scrollbar-thumb-border-active: 1px solid #dadada;
}